ul {
  padding: 0;
  margin: 0;
}

li {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style-type: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  text-align: center;
  background: #dddddd;
  transition: all 0.5s;
}
li:nth-child(even) {
  background: #eeeeee;
}
img {
  display: block;
} 
img, button {
  -webkit-user-select: none;
  user-select: none;
}
